{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block extrastyle %}
    <link type='text/css' href="{% static 'css/accounts/style.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
    <div class="container">
        <h1>Смена пароля</h1>
        <hr class="hr-style-one">
        <form method="post" style="width: 500px; margin-bottom: 10px">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="button"><span>Отправить</span></button>
        </form>
    </div>
{% endblock %}