{% extends 'blog/base.html' %}
{% load static %}
{% block extrastyle %}
    <link type='text/css' href="{% static 'css/accounts/style.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
    <div class="container">
        <h1>Сброс пароля</h1>
        <hr class="hr-style-one">
        <p>Мы отправили инструкции по смене пароля на Ваш электронный адрес.</p>
        <p>Если Вы не получили электронное письмо то, пожалуйста, убедитесь, что Вы ввели верный e-mail.</p>
    </div>
{% endblock %}