{% extends 'blog/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block extrastyle %}
    <link type='text/css' href="{% static 'css/accounts/style.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Редактирование профиля{% endblock %}
{% block content %}
    <div class="container">
        <h1>Редактирование профиля</h1>
        <hr class="hr-style-one">
        <form action="{% url 'accounts:profile_edit' user.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <button type="submit" class="button"><span>Сохранить</span></button>
        </form>
    </div>
{% endblock %}