{% extends 'blog/base.html' %}
{% load static %}
{% block extrastyle %}
    <link href="{% static 'css/accounts/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block title %}Профиль{% endblock %}
{% block content %}
    <div class="container">
        <h1>Профиль</h1>
        <hr class="hr-style-one">
        <div class="card mb-3">
            <div class="row g-0">
            <div class="col-md-2">
                {% if user.profile.photo %}
                    <p><img src="{{ user.profile.photo.url }}" width="200" height="200" class="img-fluid rounded-start" alt=""></p>
                {% else %}
                    <p></p>
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                    <p class="small text-muted">Website | Facebook | Twitter | Instagram</p>
                    <p class="card-text">{{ user.profile.bio }}</p>
                </div>
            </div>
          </div>
        </div>
        {% if request.user.pk == user.pk %}
            <p>Вы можете <a href="{% url 'accounts:profile_edit' user.pk %}">изменить</a> свой профиль или
            <a href="{% url 'accounts:password_change' %}">сменить</a> свой пароль.<p>
        {% endif %}
    </div>
{% endblock %}