{% extends 'blog/base.html' %}
{% load blog_tags %}
{% load static %}
{% block extrastyle %}
    <link type='text/css' href="{% static 'css/blog/style.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <hr class="hr-style-one">
        <img class="img-style-one" src="{{ post.image_url }}" alt="">
        <hr class="hr-style-one">
        <p class="date">
            Опубликовано: {{ post.published_date }} | автор: <a href="{% url 'accounts:profile' post.author.pk %}">{{ post.author }}</a>
        </p>
        <p class="tags">
            Теги:
            {% for tag in post.tags.all %}
                <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
                    {{ tag.name }}
                </a>
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
        </p>
        <hr class="hr-style-one">
        {{ post.text|markdown }}
        <hr class="hr-style-one">
        <div class="wrapper">
            {% if user.is_authenticated %}
                <div id="post-like">
                    {% include 'blog/posts/includes/post_like.html' %}
                </div>
            {% else %}
                <div class="wrapper-item-5">
                    <p>Чтобы поставить оценку, пожалуйста, <a href="{% url 'accounts:login' %}">войдите</a> в свою учетную запись.
                        Если у Вас еще нет учетной записи, то, пожалуйста, <a href="{% url 'accounts:register' %}">зарегистрируйтесь</a>.</p>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                {% if post.author.id == user.id %}
                    <form class="wrapper-item-2" method="POST" action="{% url 'blog:post_delete' post.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="button"><span>Удалить</span></button>
                    </form>
                    <form class="wrapper-item-3" method="get" action="{% url 'blog:post_update' post.pk %}">
                        <button type="submit" class="button"><span>Редактировать</span></button>
                    </form>
                {% endif %}
            {% endif %}
                <form class="wrapper-item-4" method="get" action="{% url 'blog:post_share' post.pk %}">
                    <button type="submit" class="button"><span>Поделиться</span></button>
                </form>
        </div>
        <hr class="hr-style-one">
        <h4>Похожие публикации:</h4>
        {% for post in similar_posts %}
            <p>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </p>
        {% empty %}
            Тут пока нет похожих публикаций.
        {% endfor %}
        <hr class="hr-style-one">
        {% with comments.count as total_comments %}
            <h4>
                {{ total_comments }} комментариев:
            </h4>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    Комментарий №{{ forloop.counter }} от <a href="{% url 'accounts:profile' comment.author.pk %}">{{ comment.author }}</a> | {{ comment.created_date }}
                {{ comment.text|linebreaks }}
                <hr>
            </div>
            {% empty %}
            <p>Тут пока нет комментариев.</p>
        {% endfor %}
        <hr class="hr-style-one">
        {% if user.is_authenticated %}
            <h4>Добавить комментарий:</h4>
            <form method="post" class="comment-form">
                {% csrf_token %}
                {{ comment_form.media }}
                {{ comment_form.as_p }}
                <button type="submit" class="button"><span>Отправить</span></button>
            </form>
        {% else %}
            <p>Чтобы оставить комментарий, пожалуйста, <a href="{% url 'accounts:login' %}">войдите</a> в свою учетную запись.
                Если у Вас еще нет учетной записи, то, пожалуйста, <a href="{% url 'accounts:register' %}">зарегистрируйтесь</a>.</p>
        {% endif %}
    </div>
    {% block scripts %}
        <script>
            $(document).ready(function (){
                $(document).on('click', '#like-button', function (event){
                    event.preventDefault();
                    const pk = $(this).attr('value');
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'blog:post_like' post.pk %}',
                        data: {'id': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: 'json',
                        success: function (response){
                            $('#post-like').html(response['html'])
                        },
                        error: function (rs){
                            console.log(rs.responseText);
                        },
                    });
                });
            });
        </script>
    {% endblock %}
{% endblock %}